
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.fonts-layout {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style */

.text-primary {
  color: #FF900E;
}

.btn-primary {
  color: white;
  background-color: #FF900E;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.diplay-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-gray-light {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 120px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* navbar style */
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar, .banner {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
/* banner related style */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}
/* main feature style */
.teams {
  align-items: center;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature {
  margin-left: 80px;
  max-width: 537px;
}

#quick-list {
  font-weight: 500;
}

/* more feature related style */
.more-features {
  gap: 140px;
}

#feature-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.feature-architect img{
  width: 100%;
}

/* some facts related style */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description {
  max-width: 540px;
}
.fact-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponspor section style */
.sponspor-description {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponspor-image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.image-content {
  filter: grayscale(100%);
}

/* footer style */
.footer-layout {
  max-width: 1440px;
  background-color: #FFF4E7;
  text-align: center;
  margin: 130px auto;
  padding: 40px 0;
}


/* responsive media query */
@media screen and (max-width:576px) {
  .navbar, 
  .nav-links,
  .more-features, 
  .teams {
    flex-direction: column;
  }
  .team-image-container, .facts-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
  .feature {
    margin-left: 15px;
  }
  .sponspor-image {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
}
#experience-badge {
  margin: 20px auto;
}
}
/* media query for medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  header {
    padding: 0 30px;
  }
  .teams, .more-features {
    flex-direction: column;
  }

  #feature-section-title {
    border: none;
  }
  
  #experience-badge {
    margin: 20px auto;
}
  .feature {
    margin: 60px auto;
  }
  .fact-description {
    text-align: center;
    margin: 0 auto 50px;
  }
  .section-title {
    text-align: center;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }
  .sponspor-image {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;
  }
}