
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.fonts-layout {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style */
.btn-primary {
  color: white;
  background-color: #FF900E;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.diplay-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-gray-light {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* header style */

/* navbar style */
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar, .banner {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-links {
  
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
/* banner related style */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}

/* responsive media query */
@media screen and (max-width:576px) {
  .navbar, .nav-links {
    flex-direction: column;
  }
}